html {
    position: relative;
    min-height: 100%;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

h1,
h3 {
    font-family: source code pro, monospace;
}

p {
    font-family: source code pro, monospace;
    font-size: larger;
}

.navbar-brand {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 4px;
    background-color: #DDDDDD;
}

.navbar-nav li a:hover {
    color: #205375 !important;
}

.footer-padding {
    padding-bottom: 70px;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #205375;
}

.footer p {
    margin-top: 25px;
    font-size: 14px;
    color: #fff;
}

.dark-mode {
    background-color: #112B3C;
    color: #DDDDDD;
}

.bright-mode {
    background-color: white;
}

.dark {
    display: inline-flex;
    margin-left: 2%;
    transition: transform .2s;
}

.dark:hover {
    transform: scale(1.5);
}

button {
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#post-section {
    white-space: pre-line;
}