<%- include("partials/header"); -%>
    <h1>About</h1>
    <img src="semih.png" style="width:14%;" />
    <br></br>
    <p>
        <%=aboutContent%>
    </p>
    <a href="https://www.linkedin.com/in/semihberkayozturk/">
        <img href="https://www.linkedin.com/in/semihberkayozturk/" src="linkedin.png" style="width:4%" />
    </a>
    <%- include("partials/footer"); -%>