<%- include("partials/header"); -%>
    <h1 style="text-align:center;">About</h1>
    <img src="semih.png" style="width:14%;margin-left: 43%;" />
    <br></br>
    <p>
        <%=aboutContent%>
    </p>
    <a href="https://www.linkedin.com/in/semihberkayozturk/">
        <img href="https://www.linkedin.com/in/semihberkayozturk/" src="linkedin.png" style="width:4%;margin-left: 48%;" />
    </a>
    <a href="mailto:ssemihberkay@gmail.com">
        <img href="mailto:ssemihberkay@gmail.com" src="email.png" style="width:4%;margin-left: 48%;" />
    </a>

    <%- include("partials/footer"); -%>