<%- include("partials/header"); -%>
    <h1 style="text-align:center;">About</h1>
    <img src="semih-memoji.png" style="width:13%;margin-left: 43%;border-radius: 31%;" />
    <br></br>
    <p>
        <%=aboutContent%>
    </p>

    <a href="https://www.linkedin.com/in/semihberkayozturk/">
        <img id="d-in" src="linkedin.png" style="width:4%;margin-left: 47%;background-color: white;border-radius: 27%;border-color: black;" />
    </a>
    <a href="mailto:ssemihberkay@gmail.com">
        <img href="mailto:ssemihberkay@gmail.com" src="email.png" style="width:4%;margin-left: 47%;color: white;" />
    </a>
    <%- include("partials/footer"); -%>