<%- include( "partials/header"); -%>
    <h1>Projects</h1>
    <p>
        <%=contactContent%>
    </p>
    <hr>
    <br></br>
    <h3>Stock Trading News Alert Project</h3>
    <img src="stock_news.png" alt="first_project_ss" style="width:65%" />
    <p>Stock Trading News Alert Project is a Python project which informs you with the stock news of given company. You can see the source code on GitHub.</p>
    <a href="https://github.com/semihberkayozturk/Stock-Trading-News-Alert">
        <img src="github.png" alt="github" style="width:4%" />
    </a>
    <br></br>
    <hr>
    <h3>Weather App</h3>
    <img src="weather_app.png" alt="second_project_ss" style="width: 65%" />
    <img src="weather_2.png" alt="first_project_ss" style="width:65%" />
    <p>Weather App is a app that shows the current weather of given city. Source code is on my GitHub.</p>
    <a href="https://github.com/semihberkayozturk/WeatherApp">
        <img src="github.png" alt="github" style="width:4%" />
    </a>
    <br></br>
    <hr>
    <h3>Blog Site with Database</h3>
    <img src="blog.png" alt="blog_img" style="width: 65%;" />
    <p>I've created a personal blog site, which you are using right now :), with Node.js, Express, MongoDB etc. Check out the source code on my GitHub.</p>
    <a href="https://github.com/semihberkayozturk/Daily-Journal">
        <img src="github.png" alt="github" style="width:4%" />
    </a>
    <br></br>
    <%- include("partials/footer"); -%>