<%- include( "partials/header"); -%>
    <h1>Projects</h1>
    <p>
        <%=contactContent%>
    </p>
    <hr>
    <br></br>
    <h3>Stock Trading News Alert Project</h3>
    <img src="stock_news.png" alt="first_project_ss" style="width:65%" />
    <p>Stock Trading News Alert Project is a Python project which informs you with the stock news of given company. You can see the source code on GitHub.</p>
    <a href="https://github.com/semihberkayozturk/Stock-Trading-News-Alert">
        <img src="github.png" alt="github" style="width:4%" />
    </a>
    <br></br>
    <hr>
    <img src="" alt="second_project_ss" />
    <%- include("partials/footer"); -%>