<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semih Berkay Öztürk</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="s_favicon.ico">
    <script src="https://kit.fontawesome.com/3715e2b643.js" crossorigin="anonymous"></script>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">SEMİH BERKAY ÖZTÜRK</p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!-- 6 -->
                <li id="home"><a href="/">HOME</a></li>
                <li id="about"><a href="/about">ABOUT ME</a></li>
                <li id="contact"><a href="/contact">PROJECTS</a></li>
                <i id="moonToggle" class="bi bi-moon-fill"></i>

            </ul>
            <script defer>
                const toggle = document.getElementById('moonToggle')
                const body = document.querySelector('body');

                toggle.addEventListener('click', function() {
                    this.classList.toggle('bi-moon-fill');
                    if (this.classList.toggle('bi-brightness-high-fill')) {
                        body.style.background = '#112B3C';
                        body.style.color = '#DDDDDD';
                        body.style.transition = '1s';

                    } else {
                        toggle.class = "bi-brightness-high-fill";
                        body.style.background = 'white';
                        body.style.color = 'black';
                        body.style.transition = "1s";
                    };
                });
            </script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        </div>
    </nav>

    <body>
        <div class="container">